pandas
numpy
streamlit
matplotlib
seaborn
pytest
ipython
ipykernel
pytest
pylint
ipdb
jupyterlab
scikit-learn
fastapi
uvicorn
scipy
opencv-python
requests
python-multipart
Pillow
scikit-image
google-cloud-storage
tensorflow
